@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  width: 520px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

#app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.iconBtn {
  cursor: pointer;
}
.iconBtn:hover {
  color: cadetblue;
}

.chakra-input.ruleInput {
  border: none;
  border-bottom: 1px solid #e2e8f0;
  border-radius: 0;
}

.chakra-input.ruleInput:focus-visible {
  border: none;
  border-bottom: 1px solid;
  box-shadow: none;
}
